{% extends "layouts/base.html.twig" %}

{% block body %}
<h1> LOGIN </h1> 
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<!-- Icon --><div class="fadeIn first"> </div>
			<h1 class="titleH1"> Connexion  </h1></br>
			<!-- Login Form -->
			<form novalidate method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input 
						type="email" 
						class="input"
						id="email" 
						name="email" 
						value="{{app.session.get('
						app_login_form_old_email')}}" required autofocus>

                </div>
                <div class="form-group">
                    <label for="password">password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
				<div class="form-group">
					<label for="_remember_me">
						<input type="checkbox" for="_remember_me" name="_remember_me">
						Se souvenir de moi
					</label>
				</div>

				<input type="hidden" name="csrf_token" value="{{csrf_token('login_form')}}">

                <input type="submit" value="sign in">
				
			</form>
			<!-- Remind Passowrd -->
			{# <div id="formFooter">
				<a class="underlineHover" href="#">Forgot Password?</a>
			</div> #}

		</div>
	</div>


{% endblock %}
