{% extends "layouts/base.html.twig" %}

{% block body %}
<h1> LOGIN </h1> 
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<!-- Icon --><div class="fadeIn first"> </div>
			<!-- Login Form -->
			<form novalidate method="post">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required autofocus>
                </div>
                <div>
                    <label for="password">password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

				<input type="hidden" name="csrf_token" value="{{csrf_token('login_form')}}">

                <input type="submit" value="sign in">
				
			</form>
			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="#">Forgot Password?</a>
			</div>

		</div>
	</div>


{% endblock %}
